<script type="template" id="monitor-status-template">
  <div class="alert alert-{{alertType}} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4>Monitor Status</h4>
    <p>Server Age: <label>{{serverAgeInSeconds}}</label> seconds</p>
    <p>Client Hash: <label>{{clientHash}}</label></p>
    <p>Server Hash: <label>{{serverHash}}</label></p>
    <p>Message: <label>{{message}}</label></p>
    {{content}}
  </div>
</script>

<script type="text/javascript">
(function() {

  var MonitorStatus = Component.create("monitor-status").refreshTime(15);

  MonitorStatus.prototype.init = function() {
    this.clientHash = this.clientHash || false;
    this.urlName = this.content;

    this.checkStatusCodeOf();
  }

  MonitorStatus.prototype.checkStatusCodeOf = function() {
    var self = this;

    if(self.clientHash == false) {
      showData(0, "info", "Contacting server...");
    }

    function handleSuccess(data, textStatus) {
      if(data.monitorHash) {
        self.serverHash = data.monitorHash;
        if(self.clientHash == false) {
          self.clientHash = self.serverHash;
          reportStatusThenHide(data);
        }
        else if(self.clientHash && self.clientHash != self.serverHash) {
          reportRestartThenRestart(data);
        }
      }
      else {
        handleBadData();
      }
    }

    function handleBadData(data) {
      showData(500, "warning", "/api/monitorStatus is alive, but returned unexpected data : " + JSON.stringify(data));
    }

    function reportRestartThenRestart(data) {
        showData(data.serverAgeInSeconds, "warning", "Monitor server has restarted, updating client shortly.");

        setTimeout(function() {
          location.reload(true);
        }, 10000);
    }

    function reportStatusThenHide(data) {
        var serverAgeInSeconds = data.serverAgeInSeconds || 0;
        showData(data.serverAgeInSeconds, "info", "Contacted monitor OK.");

        setTimeout(hideAlert, 5000);
    }

    function handleFail() {
      showData(500, "danger", "/api/monitorStatus endpoint failed to return any kind of data.");
    }

    function showAlert() {
      $(self.element).find("div.alert").slideDown(500, function() {
        $(self.element).find("div.alert").alert('close');
      });
    }

    function hideAlert() {
      $(self.element).find("div.alert").slideUp(500, function() {
        $(self.element).find("div.alert").alert('close');
      });
    }

    function showData(serverAgeInSeconds, alertType, message) {
      self.message = message || "";
      self.serverAgeInSeconds = serverAgeInSeconds;
      self.alertType = alertType;

      showAlert();

      self.render();
    }

    $.ajax({
      url: "/api/monitorStatus",
      dataType: "jsonp",
      success: handleSuccess
    }).fail(handleFail);
  }
})();
</script>
