<script type="template" id="status-checker-template">
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-default" role="alert">
        <span class="glyphicon glyphicon-off"></span>
          <name>{{content}}</name>
          (<status>{{statusCode}}</status>)
      </div>
    </div>
    <div class="col-md-8">
      <div class="alert alert-{{alertType}}" role="alert">
        <message>{{message}}</message>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
(function() {

  var StatusChecker = Component.create("status-checker").refreshTime(25);

  StatusChecker.prototype.init = function() {
    this.urlName = this.content;
    this.urlToCheck = this.element.getAttribute('data-url');

    this.checkStatusCodeOf(this.urlToCheck);
  }

  StatusChecker.prototype.showData = function(statusCode, message) {
    this.statusCode = statusCode || 0;
    this.message = message;
    this.alertType = ({
      "0": 'info',
      "200": 'success'
    })[statusCode] || 'danger';

    this.render();
  }

  StatusChecker.prototype.checkStatusCodeOf = function(urlToCheck) {
    var self = this;
    self.render(0, 'Checking url: ' + urlToCheck);

    $.ajax({
      url: "/api/statusOf/?url=" + urlToCheck,
      dataType: "jsonp",
      success: function(data, textStatus) {
        if(data.statusCode) {
          var age = data.timestamp ? Math.floor((Date.now() - data.timestamp) / 1000) : 0;
          var ageLimit = data.cacheAgeLimitInSeconds || 0;
          var cached = age ? "(cached " +  age + " seconds, limit: " + ageLimit + " seconds)" : "";
          self.showData(data.statusCode, "Checked url: " + urlToCheck + " " + cached);
        }
        else if(data.error) {
          self.showData(500, "Error checking url: " + urlToCheck + " : " + JSON.stringify(data.error));
        }
        else {
          self.showData(500, "/api/statusOf endpoint returned unexpected data : " + JSON.stringify(data));
        }
      }
    }).fail(function() {
      self.showData(500, "/api/statusOf endpoint failed to return any kind of data.");
    });
  }
})();
</script>
