<script type="template" id="status-checker-template">
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-default" role="alert">
        <span class="glyphicon glyphicon-off"></span>
          <name>{{content}}</name>
          (<status>{{statusCode}}</status>)
      </div>
    </div>
    <div class="col-md-8">
      <div class="alert alert-{{alertType}}" role="alert">
        <message><b>{{message}}</b> : {{data-url}}</message>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
(function() {

  var StatusChecker = Component.create("status-checker").dataSource('/api/statusOf/?url={{data-url}}').refreshTime(25);

  StatusChecker.prototype.init = function() {
    this.statusCode = 0;
    this.urlName = this.content;
  }

  StatusChecker.prototype.selectMessage = function(statusCode) {
    return ({
      "0": 'Checking server',
      "200": 'URL Seems OK',
      "404": "File not found",
      "502": "The server encountered a problem: " + JSON.stringify(this.dataSourceError)
    })[statusCode] || this.dataSourceStatus;
  }

  StatusChecker.prototype.selectAlertType = function(statusCode) {
    return ({
      "0": 'info',
      "200": 'success',
      "404": 'danger',
      "502": 'warning'
    })[this.statusCode] || 'danger';
  }

  StatusChecker.prototype.preRenderStep = function() {
    this.alertType = this.selectAlertType(this.statusCode);
    this.message = this.selectMessage(this.statusCode);
  }

  StatusChecker.setup();
})();
</script>
