<script type="template" id="status-checker-template">
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-default" role="alert">
        <span class="glyphicon glyphicon-off"></span>
          <name>${name}</name>
          (<status>${statusCode}</status>)
      </div>
    </div>
    <div class="col-md-8">
      <div class="alert alert-${alertType}" role="alert">
        <message>${message}</message>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
(function() {

  var StatusChecker = function(element)
  {
    var template = document.getElementById('status-checker-template');
    var templateBody = template.innerHTML;

    var urlName = element.innerHTML;
    var urlToCheck = element.getAttribute('data-url');

    function checkStatusCodeOf(url) {

      renderTemplate(0, 'Checking url: ' + urlToCheck);

      $.ajax({
        url: "/api/statusOf/?url=" + url,
        dataType: "jsonp",
        success: function(data, textStatus) {
          if(data.statusCode) {
            renderTemplate(data.statusCode, "Checked url: " + urlToCheck);
          }
          else {
            renderTemplate(500, "/api/statusOf endpoint returned unexpected data.");
          }
        }
      }).fail(function() {
        renderTemplate(500, "/api/statusOf endpoint failed to return data.");
      });
    }

    function renderTemplate(statusCode, message)
    {
      var alertType = ({
        "0": 'info',
        "200": 'success'
      })[statusCode] || 'danger';

      var message = message || '';

      var result = templateBody;
      result = result.replace('${name}', urlName);
      result = result.replace('${url}', urlToCheck);
      result = result.replace(/\${alertType}/g, alertType);
      result = result.replace('${statusCode}', statusCode);
      result = result.replace('${message}', message);

      element.innerHTML = result;
    }

    checkStatusCodeOf(urlToCheck);
  };

	function setup()
	{
		var elements = document.getElementsByTagName("status-checker");
		for(var i=0; i<elements.length; i++)
		{
			var element = elements[i];
			new StatusChecker(element);
		}
	}

	setup();
})();
</script>
