<template for="authentication">
    {{#if enabled}}
        {{#if user}}
        <a href="/docs/user-details">
            <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-user"></span>
                <span>{{user.name}}</span>
            </button>
        </a>
        <a href="/auth/logout">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span>Logout</span>
            </button>
        </a>
        {{else}}
        <a href="/auth/login-broker">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-user"></span>
                <span>Login</span>
            </button>
        </a>
        {{/if}}
    {{/if}}
</template>

<script type="text/javascript">
$(function() {
  var AuthComponent = Component.configure("authentication");

  AuthComponent.on('preRenderStep', function(instance) {
    if(instance.data && instance.data.enabled && !instance.data.user) {
        $('meta').each(function(i, el) {
            var $el = $(this);
            if($el.attr('name') === 'authRequired' && $el.attr('content') === 'true') {
                window.location = '/auth/login-broker?redirect=' + window.location.pathname;
            }
        });
    }
  });

  AuthComponent.apply(function(instance) {
    instance.render();
  });

});
</script>