<template for="monitor-status" refresh-time="15">
  <button type="button" class="btn btn-{{alertType}}">
    <span class="glyphicon glyphicon-{{glyphIcon}}"></span>
    <span>{{content}}</span>
  </button>
</template>

<script type="text/javascript">
$(function() {

  var MonitorStatus = Component.configure("monitor-status");

  MonitorStatus.prototype.serverAgeInSeconds = 0;
  MonitorStatus.prototype.clientHash = false;
  MonitorStatus.prototype.serverHash = false;
  MonitorStatus.prototype.glyphIcon = 'dashboard';

  MonitorStatus.prototype.reportRestartThenRestart = function() {
    this.dataSourceStatus = "Monitor server has restarted, updating client shortly.";

    setTimeout(function() {
      location.reload(true);
    }, 1500);
  }

  MonitorStatus.on('preRenderStep', function() {
    this.serverHash = this.monitorHash || false;

    if(this.dataSourceError !== false) {
      this.alertType = "danger";
    }
    else if(this.clientHash == false) {
      this.clientHash = this.serverHash || false;
      this.alertType = "info";
    }
    else if(this.clientHash && this.clientHash != this.serverHash) {
      this.alertType = "warning"
      this.reportRestartThenRestart();
    }
    else {
      this.alertType = "success";
    }
  });
});
</script>
