<style>
body { padding-top: 70px; }
</style>

<template for="navigation" data-source-url="/api/navigation" refresh-time="125">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><product-title>Product Monitor</product-title></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Content <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/">Index</a></li>
              <li class="divider"></li>
              {{#each navigationItems}}
              <li><a href="{{href}}">{{linkText}}</a></li>
              {{/each}}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Server <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/docs/api">API</a></li>
              <li class="divider"></li>
              <li><a href="/docs/create-your-own">Create your own</a></li>
              <li><a href="/docs/component-showcase">Component Showcase</a></li>
              <li><a href="/docs/custom-components-guide">Custom Components Guide</a></li>
              <li><a href="/docs/custom-api-endpoint-guide">Custom API Endpoint Guide</a></li>
              <li class="divider"></li>
              <li><a href="/docs/package-info">Package Info</a></li>
              <li><a href="/docs/credits">Credits</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- No content here yet -->
        </ul>
        <form class="navbar-form navbar-right">
          <a href="/status"><monitor-status data-source-url="/api/monitorStatus">Monitor Status</monitor-status></a>
        </form>
      </div>
    </div>
  </nav>
</template>
