<!--
<post-button post-url="/api/postMirror" result-target="output">I can post things?</post-button>
<div id="output"></div>
-->

<template for="post-button" button-type="info" data-type="html">
    <button class="btn btn-{{button-type}}{{#if disabled}} disabled{{/if}}">{{content}}</button>
</template>

<script for="post-button">
    $(function() {
        var PostButtonComponent = Component.configure('post-button');

        function copyElementProperties(elem, target) {
            for (var i = 0; i < elem.attributes.length; i++) {
                var attrib = elem.attributes[i];
                if (attrib.specified) {
                    target[attrib.name] = attrib.value;
                }
            }
        }

        function createAttributePropertiesOn(elem, properties) {
            for (var property in properties) {
                elem.setAttribute(property, JSON.stringify(properties[property]));
            }
        }

        function registerClick(instance) {
            $(instance.element).click(function() {
                copyElementProperties(instance.element, instance);
                $(instance.element).unbind("click")
                  .attr('disabled', 'disabled')
                  .attr('button-type', 'default');
                $('button', instance.element).addClass('disabled');

                var postUrl = instance['post-url'] || false;
                var dataType = instance['data-type'] || 'html';
                var resultTarget = instance['result-target'] || false;

                if (postUrl) {
                    console.log("Posting to: ", postUrl);
                    var postData = {};
                    copyElementProperties(instance.element, postData);
                    $.post(postUrl, postData, null, dataType).done(function(body) {
                        if (resultTarget) {
                            var targetElement = document.getElementById(resultTarget);
                            if (targetElement) {
                                console.log("Post response body written to target in DOM: ", resultTarget);
                                targetElement.innerHTML = body;
                                Component.scanForComponents(targetElement);
                            } else {
                                console.log("Specified result-target could not be found in DOM: ", resultTarget);
                            }
                        } else {
                            console.log("No result-target specified to assign data to.");
                        }
                        // Mark as a success
                        instance.postSuccess = true;
                        instance.disabled = true;
                        instance['button-type'] = 'success';
                        instance.render();
                    }).fail(function(error) {
                        console.log("Post request failed", error);
                        // Re-render
                        instance.postSuccess = false;
                        instance.disabled = false;
                        instance.render();
                    });
                }
            });
        }

        PostButtonComponent.on('renderComplete', function(instance) {
            if (!instance.postSuccess) {
                registerClick(instance);
            }
        });

        PostButtonComponent.apply(function(instance) {
            instance.render();
        });
    });
</script>

<style for="post-button">
    post-button {
        display: inline-block;
    }
</style>
