<script type="text/javascript" src="/external/jquery.sparkline.min.js"></script>

<!-- Types:
* line
* bar
* tristate
* discrete
* bullet
* pie
* box
-->
<template for="sparkline"></template>

<!-- Common options
http://omnipotent.net/jquery.sparkline/#s-docs
-->

<script for="sparkline" type="text/javascript">
$(function() {
  SparklineComponent = Component.configure('sparkline');

  SparklineComponent.on('renderComplete', function(instance) {
    // Map attributes to properties, non-exhaustive...
    var config = {
      enableTagOptions: true,
      tagOptionPrefix: 'spark'
    }

    initSparkline(instance.element, config)
  })

  SparklineComponent.apply(function(instance) {
    instance.render()
  })

  function initSparkline(element, config) {
    try {
      $(element).sparkline('html', config)
    }
    catch (ex) {
      console.log('Unable render sparkline', element, config, ex, 'please check the order that JS scripts are loaded into the page; check for duplicates e.g. 2x jQuery versions.')
    }
  }
})
</script>
