<script type="template" id="status-button-template">
  <a href="{{data-url}}" target="_statusButtonLink" title="{{urlProvided}}">
    <button type="button" class="btn btn-{{alertType}}">
      <span class="glyphicon glyphicon-{{glyph-icon}}"></span>
      <span>{{content}}</span>
    </button>
  </a>
</script>

<script type="text/javascript">
$(function() {

  var StatusButton = Component.create("status-button").dataSource('/api/statusOf/?url={{data-url}}').refreshTime(45);

  StatusButton.prototype.init = function() {
    this.statusCode = 0;
  }

  StatusButton.prototype.selectAlertType = function(statusCode) {
    var severity = Math.round(statusCode / 100) * 100;
    return ({
      "0": 'info',
      "100": 'primary',
      "200": 'success',
      "300": 'info',
      "400": 'danger',
      "500": 'warning'
    })[severity] || 'danger';
  }

  StatusButton.prototype.preRenderStep = function() {
    this.alertType = this.selectAlertType(this.statusCode);
  }

  StatusButton.setup();
});
</script>
