<template tagName="status-checker" data-source-template="/api/statusOf/?url={{data-url}}" refresh-time="25">
  <div class="alert alert-{{alertType}}" role="alert">
    <div class="row">
      <div class="col-md-6">
        <a href="{{data-url}}" target="_statusButtonLink" title="{{urlProvided}}" class="status-checker">
          <button type="button" class="btn btn-{{alertType}} status-checker">
            <span class="glyphicon glyphicon-flag"></span>
          </button>
        </a>
        <span class="status-description">{{content}} (<status>{{statusCode}}</status>)</span>
      </div>
      <div class="col-md-6">
        <b>{{message}}</b> : {{data-url}}
      </div>
    </div>
  </div>
</template>

<style for="status-checker">
span.status-description {
  font-size: 150%; font-weight: bold;
  vertical-align: middle;
}
button.status-checker {
  margin-right: 5px;
}
a.status-checker { text-decoration: none; }
</style>

<script type="text/javascript">
$(function() {

  var StatusChecker = Component.configure("status-checker");

  StatusChecker.prototype.selectMessage = function(statusCode) {
    return ({
      "0": 'Checking server',
      "200": 'URL Seems OK',
      "404": "File not found",
      "500": "Server responded with an error: " + JSON.stringify(this.dataSourceData),
      "502": "The server encountered a problem: " + JSON.stringify(this.dataSourceData)
    })[statusCode] || this.dataSourceStatus;
  }

  StatusChecker.prototype.selectAlertType = function(statusCode) {
    return ({
      "0": 'info',
      "200": 'success',
      "404": 'danger',
      "500": 'warning',
      "502": 'warning'
    })[this.statusCode] || 'danger';
  }

  StatusChecker.prototype.preRenderStep(function() {
    this.alertType = this.selectAlertType(this.statusCode);
    this.message = this.selectMessage(this.statusCode);
  });

});
</script>
