<template for="status-button" data-source-template="/api/statusOf/?url={{data-url}}" glyph-icon="flag">
  <a href="{{data-url}}" target="_statusButtonLink" title="{{urlProvided}}" class="status-button">
    <button type="button" class="btn btn-{{alertType}}">
      <span class="glyphicon glyphicon-{{glyph-icon}}"></span>
      <span>{{content}}</span>
    </button>
  </a>
</template>

<style for="status-button">
a.status-button { text-decoration: none; }
</style>

<script type="text/javascript">
$(function() {

  var StatusButton = Component.configure("status-button");

  StatusButton.prototype.selectAlertType = function(statusCode) {
    var severity = Math.round(statusCode / 100) * 100;
    return ({
      "0": 'info',
      "100": 'primary',
      "200": 'success',
      "300": 'info',
      "400": 'danger',
      "500": 'warning'
    })[severity] || 'danger';
  }

  StatusButton.prototype.preRenderStep(function() {
    this.statusCode = (this.dataSourceError === false) ? this.statusCode : 503;
    this.alertType = this.selectAlertType(this.statusCode);
  });

});
</script>
