<!DOCTYPE HTML>
<html>
<head>
  <title>Product Monitor</title>
  <product-monitor></product-monitor>
</head>
<body role="document">
  <div class="container theme-showcase" role="main">

    <navigation></navigation>

    <monitor-status data-source-url="/api/monitorStatus"></monitor-status>

    {{PAGE-CONTENT}}

  </div>

  <!-- Bootstrap compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  <!-- Web componenty bootstrappy stuff -->
  <script src="/monitoring/component/component.js"></script>
  
  <component-templates>
    {{COMPONENT-TEMPLATES}}
  </component-templates>

</body>
</html>
